<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotoTrack - Cadastrar Moto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/cabecalho-rodape.css}" />
</head>
<body>
    <footer th:fragment="footerFragment">
        <div class="container">
            <p>&copy; 2025 - CP5 Java Advanced</p>
        </div>
    </footer>
</body>
</html>